/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    background-image: url('img/fondo_principal.jpg');
    background-size: cover;  /* Asegura que la imagen cubra todo el fondo */
}

h1 {
    color: #2C3E50;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Estilo de cabecera */
header {
    background-color: rgba(255, 255, 255, 0.55); 
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em; /* Ajuste de tamaño */
    color:green;
}

nav {
    margin: 15px 0;
}
.menu1 {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
.menu1 li {
    margin: 30px 15px; /* Espacio entre elementos */
}
.menu1 a {
    text-decoration: none;
    color: green; /* Color del texto del menú */
    font-weight: bold;
    padding: 10px 20px; /* Espacio interior del botón */
    border: 2px solid transparent; /* Borde inicial transparente */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, border-color 0.3s; /* Transición suave */
}
.menu1 a:hover {
    background-color: #C0D904; /* Color de fondo al pasar el ratón */
    color: white; /* Color del texto al pasar el ratón */
    border-color: #C0D904; /* Borde que coincide con el fondo */
}
/* Estilo de los artículos */
section {
    padding: 20px;
}

article {
    background-color: rgba(255, 255, 255, 0.55);  
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 90px; /* Espaciado interno */
}

/* Estilo de imágenes */
.imagen-grande {
    display: block;
    margin: 0 auto 15px; /* Centra la imagen y añade margen inferior */
    max-width: 70%; /* Ajustar tamaño máximo */
    width: 30%;
}

.imagen-pequeña {
    display: block;
    margin: 15px 0 15px 0; /* Espaciado superior e inferior */
    width: 210px; /* Tamaño de la imagen pequeña */
    float: left; /* Alinea a la izquierda */
}

/* Centrando el texto de los encabezados */
.centrar-texto {
    text-align: center;
}

/* Limpiar el float después de la imagen pequeña */
article::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #C0D904;
    color: white;
    border-radius: 15px; /* Bordes redondeados */
    padding: 20px;
    text-align: center;
    width: 100%;
    padding: 20px;
 }
 .redes1 {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
.redes1 li {
    margin: 0 10px; /* Espacio entre íconos */
}
.redes1 a {
    text-decoration: none;
    font-size: 2em; /* Tamaño de los iconos de redes */
    color: #fff; /* Color del ícono */
    background-color: #C0D904; /* Color de fondo */
    border-radius: 50%; /* Hace que el ícono sea circular */
    padding: 15px; /* Espacio interior para el círculo */
    transition: background-color 0.3s; /* Transición suave */
}
.redes1 a:hover {
    color: #fff;
    background-color: grey; /* Color al pasar el ratón */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 15); /* Sombra suave */
}
